
.icon-wi-night-alt-showers:before { content: '\e800'; } /* '' */
.icon-wi-night-alt-snow:before { content: '\e801'; } /* '' */
.icon-wi-night-alt-thunderstorm:before { content: '\e802'; } /* '' */
.icon-wi-night-alt-snow-wind:before { content: '\e803'; } /* '' */
.icon-wi-night-clear:before { content: '\e804'; } /* '' */
.icon-wi-refresh:before { content: '\e805'; } /* '' */
.icon-wi-thermometer:before { content: '\e806'; } /* '' */
.icon-wi-celsius:before { content: '\e807'; } /* '' */
.icon-wi-cloud:before { content: '\e808'; } /* '' */
.icon-wi-cloudy:before { content: '\e809'; } /* '' */
.icon-wi-day-cloudy:before { content: '\e80a'; } /* '' */
.icon-wi-day-rain:before { content: '\e80b'; } /* '' */
.icon-wi-day-showers:before { content: '\e80c'; } /* '' */
.icon-wi-day-snow:before { content: '\e80d'; } /* '' */
.icon-wi-day-snow-thunderstorm:before { content: '\e80e'; } /* '' */
.icon-wi-day-sunny:before { content: '\e80f'; } /* '' */
.icon-wi-fahrenheit:before { content: '\e810'; } /* '' */
.icon-wi-night-alt-cloudy:before { content: '\e811'; } /* '' */
.icon-wi-fog:before { content: '\e812'; } /* '' */
.icon-wi-night-alt-rain:before { content: '\e813'; } /* '' */